@model MessageFormViewModel
@{
    ViewData["Title"] = "Add";
}
<h2>Sending Message</h2>
<form method="post">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    

    <button type="submit" class="btn btn-warning">Send</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
